/* Benjamin Lukens Assignment 3 CIS325*/
body {
  font-family: Lato, sans-serif;
  background: #686A6C; /* Nardo Grey */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 40px;
  text-align: center;
  width: 330px;
}

.description {
  padding: 24px;
  display: flex;
  width: 300px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  .aboutYear {
    display: flex;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: 300;
  }
}

h1 {
  margin-bottom: 25px;
}

#clickBtn {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: #505050;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#clickBtn:hover {
  background-color: #000;
}

#imageContainer {
  margin-top: 30px;
}

#mouseoverImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
